<div class="new-note">
    <div class="new-note-container">

        <form class="form">
            <fieldset class="form-field">
                <label class="form-label" for="content">Title</label>
                <textarea class="form-input" name="Content" ng-model="note.title" placeholder="The title of your note"></textarea>
            </fieldset>

            <fieldset class="form-field">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-input" name="description" ng-model="note.description" placeholder="A short description of this note"></textarea>
            </fieldset>

            <button class="btn" ng-click="createNote(note)" ng-disabled="updating">{{updating ? 'Saving...' : 'Save'}}</button>
        </form>
    </div>
</div>
